html {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: Comfortaa;
  src:url(Comfortaa-Regular.ttf)
}
body {
  font-family: Comfortaa;
  background-color: #f8fbe4;
}
nav {
  height: 80px;
}
.menu ul {
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  background-color: #5a163a;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #d57eac;
}
.menu img {
  float: right;
}
.Title {
  margin-top: 60px;
  background-color: #fdd8ec;
  border: solid;
  border-radius: 5%;
  text-align: center;
  border-width: 3px;
  margin-left: 1%;
  margin-right: 1%;
  border-color: #da81b0;
}
.Title h1 {
  color: white;
  -webkit-text-stroke: 1px #5a163a;
}
.content {
  color: #5a163a;
  text-align: center;
  background-color: #fbe4f0;
   border: solid;
  border-color: #da81b0;
  margin-top: 50px;
 padding: 30px 15px 30px 15px;
}
.photos img{
  border: solid 10px;
  border-color: #da81b0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px; 
}
.social_problem {
  color: #5a163a;
  text-align: center;
  background-color: #fbe4f0;
   border: solid;
  border-color: #da81b0;
  margin-top: 50px;
  padding: 30px 15px 30px 15px;
}
.content img {
  float: right;
  margin-right: 27px;
  padding-top: 10px;
}
.reasons {
  color: #5a163a;
  text-align: left;
  background-color: #fbe4f0;
  border: solid;
  border-color: #da81b0;
  margin-top: 50px;
  padding: 30px 15px 30px 15px;
}
.reasons i {
  float: right;
  margin-right: 40px;
}
.proper {
  color: #5a163a;
  text-align: left;
  background-color: #fbe4f0;
  border: solid;
  border-color: #da81b0;
  margin-top: 50px;
  padding: 30px 15px 30px 15px;
}
.proper i {
    float: right;
  margin-right: 40px;
}
.consider {
  color: #5a163a;
  text-align: left;
  background-color: #fbe4f0;
  border: solid;
  border-color: #da81b0;
  margin-top: 50px;
  padding: 30px 15px 30px 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.consider ul {
  list-style-type: none;
}
.refrences {
  margin-left: 20px;
  margin-top: 10p;
}
.refrences ul {
  list-style-type: none;
}
.footer {
  padding:30px 0;
  background-color: #5a163a;
  text-align: center;
}
.footer a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
.footer p {
  color: white;
}
.footer a:hover {
  background-color: #d57eac;
}
.footer img {
  float: left;
  margin-left: 20px;
}
.fox img {
  float: right;
  margin-right: 20px;
  position: relative; bottom: 80px;
}